<!DOCTYPE html>
<html ng-app="blog">
<head>
  <title>My application</title>
  <link rel="stylesheet" media="all" href="css/bootstrap.min.css">
  <link rel="stylesheet" media="all" href="css/custom.css">
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">AWJ Base Project</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#">Firma</a></li>
            <li><a href="#">Produs</a></li>
            <li><a href="#">Persoana</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <hr/>

  <div class="container">
    <div ng-controller="HomeController">
      <h1 ng-click="doStuff()">{{ helloWorld }}</h1>
    </div>
  </div>
  <hr/>
    <p>{{info}}</p>
  <!-- /resources1 -->
  <div class="container"  ng-controller="HomeController">
    <h1>Firma</h1>
    <h2>Afisare firme</h2>
    <table class="table table-bordered"  >
      <tr >
        <th>Nume</th>
        <th>ID</th>
        <th style="width:210px;">Options</th>
      </tr>
      <tr ng-repeat="item in firme">
        <td>{{item.nume}}</td>
        <td>{{item.id}}</td>
        <td>
     <a href="">
            <button ng-click="getFimaById(item.id)" class="btn btn-success btn-xs">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </button>
          </a>
          <a href="">
            <button ng-click="setUpdateFirma(item)" class="btn btn-info btn-xs">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
            </button>
          </a>
           <button ng-click="deleteFirma(item.id)" class="btn btn-danger btn-xs">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </button>
        </td>
      </tr>
    </table>

    <div class="row">
      <div class="col-md-3">
        <h2>Editare firma</h2>
        <form>
          <div class="form-group">
            <label for="attribute1">Nume</label>
            <input type="text" class="form-control" placeholder="Nume" ng-model="editFirma.nume">
          </div>
          <div class="form-group">
            <label for="attribute2">ID</label>
            <input type="text" class="form-control" placeholder="ID" ng-model="editFirma.id">
          </div>
          <button class="btn btn-info" ng-click="updateFirma(editFirma)">Salveaza</button>
        </form>
      </div>


      <div class="col-md-3 col-md-offset-6">
        <h2>Adaugare firma</h2>
        <form action="" method="">
          <div class="form-group">
            <label for="attribute1">Nume</label>
            <input type="text" class="form-control" id="attribute1" placeholder="Nume" ng-model="firma.nume">
          </div>
          <div class="form-group">
            <label for="attribute2">ID</label>
            <input type="text" class="form-control" id="attribute2" placeholder="ID" ng-model="firma.id">
          </div>
          <button type="submit" class="btn btn-success" ng-click="addFirma(firma)">Adauga</button>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Firma 1:</h2>
      </div>
      <div class="col-md-2">
        <img src="http://lorempixel.com/200/200/technics/?id=1" class="img-thumbnail"/>
      </div>
      <div class="col-md-10">
        <h1>Skoda</h1>
        <h3></h3>
        <table class="table table-bordered table-striped">
          <tr>
            <th>Superb</th>
            <th>Octavia</th>
          </tr>
          <tr>
            <td>I</td>
            <td>I</td>
          </tr>
          <tr>
            <td>II</td>
            <td>II</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <hr/>

  <!-- /resources2-->
  <div class="container">
    <h1>Persoana</h1>
    <h2>Afisare persoane</h2>
    <table class="table table-bordered">
      <tr>
        <th>ID</th>
        <th>Nume</th>
        <th style="width:210px;">Options</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Mihai</td>
        <td>
          <a href="">
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <a href="">
            <span class="label label-primary">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
            </span>
          </a>
          <a href="">
            <span class="label label-danger">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </span>
          </a>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Andrei</td>
        <td>
          <a href="">
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <a href="">
            <span class="label label-primary">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
            </span>
          </a>
          <a href="">
            <span class="label label-danger">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </span>
          </a>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>Vlad</td>
        <td>
          <a href="">
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <a href="">
            <span class="label label-primary">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
            </span>
          </a>
          <a href="">
            <span class="label label-danger">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </span>
          </a>
        </td>
      </tr>
      <tr>
        <td>4</td>
        <td>George</td>
        <td>
          <a href="">
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <a href="">
            <span class="label label-primary">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
            </span>
          </a>
          <a href="">
            <span class="label label-danger">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </span>
          </a>
        </td>
      </tr>
    </table>

    <div class="row">
      <div class="col-md-3">
        <h2>Editare persoana</h2>
        <form action="" method="">
          <div class="form-group">
            <label for="attribute1">ID</label>
            <input type="text" class="form-control" id="attribute1" placeholder="ID">
          </div>
          <div class="form-group">
            <label for="attribute2">Nume</label>
            <input type="text" class="form-control" id="attribute2" placeholder="Nume">
          </div>
          <button type="submit" class="btn btn-info">Salveaza</button>
        </form>
      </div>


      <div class="col-md-3 col-md-offset-6">
        <h2>Adaugare persoana</h2>
        <form action="" method="">
          <div class="form-group">
            <label for="attribute1">ID</label>
            <input type="text" class="form-control" id="attribute1" placeholder="Id">
          </div>
          <div class="form-group">
            <label for="attribute2">Nume</label>
            <input type="text" class="form-control" id="attribute2" placeholder="Nume">
          </div>
          <button type="submit" class="btn btn-success">Adauga</button>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Persoana 1:</h2>
      </div>
      <div class="col-md-2">
        <img src="http://lorempixel.com/200/200/technics/?id=2" class="img-thumbnail"/>
      </div>
      <div class="col-md-10">
        <h1>Mihai</h1>
        <table class="table table-bordered table-striped">
          <tr>
            <th>Job</th>
            <th>Varsta</th>
          </tr>
          <tr>
            <td>Pilot</td>
            <td>32</td>
          </tr>
          <tr>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <hr/>

  <div class="container">
    <footer class="footer">
      <p class="text-muted pull-left">AWJ Base Project &copy; 2015-2016</p>
      <p class="text-muted pull-right">Sirbu Nicolae-Cezar, 331AA</p>
    </footer>
  </div>

  <script src="js/jquery-1.11.3.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
   
    <!-- /resources3-->
    
  <div class="container">
    <h1>Produs</h1>
    <h2>Afisare produse</h2>
    <table class="table table-bordered">
      <tr>
        <th>ID</th>
        <th>Nume</th>
        <th style="width:210px;">Options</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Masina</td>
        <td>
          <a href="">
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <a href="">
            <span class="label label-primary">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
            </span>
          </a>
          <a href="">
            <span class="label label-danger">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </span>
          </a>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Bicicleta</td>
        <td>
          <a href="">
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <a href="">
            <span class="label label-primary">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
            </span>
          </a>
          <a href="">
            <span class="label label-danger">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </span>
          </a>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>Motocicleta</td>
        <td>
          <a href="">
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <a href="">
            <span class="label label-primary">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
            </span>
          </a>
          <a href="">
            <span class="label label-danger">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </span>
          </a>
        </td>
      </tr>
      <tr>
        <td>4</td>
        <td>Autocar</td>
        <td>
          <a href="">
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <a href="">
            <span class="label label-primary">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
            </span>
          </a>
          <a href="">
            <span class="label label-danger">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </span>
          </a>
        </td>
      </tr>
    </table>

    <div class="row">
      <div class="col-md-3">
        <h2>Editare produs</h2>
        <form action="" method="">
          <div class="form-group">
            <label for="attribute1">ID</label>
            <input type="text" class="form-control" id="attribute1" placeholder="ID">
          </div>
          <div class="form-group">
            <label for="attribute2">Nume</label>
            <input type="text" class="form-control" id="attribute2" placeholder="Nume">
          </div>
          <button type="submit" class="btn btn-info">Salveaza</button>
        </form>
      </div>


      <div class="col-md-3 col-md-offset-6">
        <h2>Adaugare produs</h2>
        <form action="" method="">
          <div class="form-group">
            <label for="attribute1">ID</label>
            <input type="text" class="form-control" id="attribute1" placeholder="Id">
          </div>
          <div class="form-group">
            <label for="attribute2">Nume</label>
            <input type="text" class="form-control" id="attribute2" placeholder="Nume">
          </div>
          <button type="submit" class="btn btn-success">Adauga</button>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Produs 1:</h2>
      </div>
      <div class="col-md-2">
        <img src="http://lorempixel.com/200/200/technics/?id=2" class="img-thumbnail"/>
      </div>
      <div class="col-md-10">
        <h1>Masina</h1>
        <table class="table table-bordered table-striped">
          <tr>
            <th>Culoare</th>
            <th>Tip</th>
          </tr>
          <tr>
            <td>albastru</td>
            <td>JEEp</td>
          </tr>
          <tr>
            <td>galben</td>
            <td>break</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <hr/>

  <div class="container">
    <footer class="footer">
      <p class="text-muted pull-left">AWJ Base Project &copy; 2015-2016</p>
      <p class="text-muted pull-right">Sirbu Nicolae-Cezar, 331AA</p>
    </footer>
  </div>

  <script src="js/jquery-1.11.3.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>